Job-Finding Workflow.json
{
  "name": "Job-Finding Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "3261319f-9675-4603-971c-ab1182b53c26",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/datasets/ZR1iSKI3DcWLWwZfN/items?token=apify_api_HIKK9AtYKgwte2CkjuFHBOCib1Zz6c3DSA3l",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "674a13d8-2db1-4c81-8bd5-818ad9dfde7c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "64d16c83-ea12-4150-957c-24389c7081be",
              "leftValue": "={{ $json.title }}",
              "rightValue": "Flutter",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "396210e0-1f9c-4396-9f1d-63b95ead4e7f",
              "leftValue": "={{ $json.title }}",
              "rightValue": "Flutter Developer",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "80764622-a642-4cf9-85e7-f4da2f0b5dc9",
              "leftValue": "={{ $json.title }}",
              "rightValue": "Flutter Developer Fresher",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "9868785b-d1ed-492f-a723-13d33918feb5",
              "leftValue": "={{ $json.title }}",
              "rightValue": "MERN Stack",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "d220f6dc-f774-49f3-b6b3-861edcb42119",
              "leftValue": "={{ $json.title }}",
              "rightValue": "Node Js Developer",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "88074d3d-011a-4f85-a9f0-c6526a68464b",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1zwhz5R_Otihk7FOUjLVbYZ-D-v-AVH3dCiM1r0c4qvk",
          "mode": "list",
          "cachedResultName": "Automation Jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zwhz5R_Otihk7FOUjLVbYZ-D-v-AVH3dCiM1r0c4qvk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zwhz5R_Otihk7FOUjLVbYZ-D-v-AVH3dCiM1r0c4qvk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Job Title ": "={{ $json.title }}",
            "Job Link": "={{ $json.jobUrl }}",
            "Company": "={{ $json.companyName }}",
            "Location": "={{ $json.location }}",
            "Date Posted": "={{ $json.publishedAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Job Title ",
              "displayName": "Job Title ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Link",
              "displayName": "Job Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Posted",
              "displayName": "Date Posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        656,
        -128
      ],
      "id": "768a4cb1-faab-4d79-99f1-c324b86e70ce",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oYfgBI41INj6bklI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/flutter-jobs",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "Cant Find Flutter Jobs or Any other Jobs",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        128
      ],
      "id": "a2d25ddf-72cb-4341-a5ec-a8371eaf6375",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/flutter-jobs",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "Found it !!!!✔️✔️ just do check out the google sheets  ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        -128
      ],
      "id": "dea12f1f-a4f0-45ac-b396-40ef9972b468",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2ca91917-94d9-4f87-83b7-b7265563b30c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b61b28a9870298b87b6c13fa1a1b19dda24a1da97b55bfa2774f941789b89b75"
  },
  "id": "SLBVOEtiWkZ4XoxG",
  "tags": []
}