X_Automation.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {},
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "bbbb63ef-d209-4b2e-871e-78c5d47047b0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIGj6AuUfgrsvv0ZQLNsFC3B8_eoSrk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"You are a professional social media copywriter for X (Twitter).\\n\\nCreate a single tweet based on this topic: {{$json.Topic}}\\n\\nStrict rules:\\n- Maximum 200 characters (free X account safe limit)\\n- The tweet must be short, sharp, and clickbait-style\\n- It should create curiosity or a strong opinion\\n- Use a confident, authoritative tone\\n- Do NOT use emojis\\n- Do NOT add explanations or extra text\\n- Output only the tweet, nothing else\\n- Include 2–4 relevant hashtags at the end (hashtags are mandatory)\\n- Hashtags must be concise and professional\\n\\nGoal:\\nMake the reader stop scrolling and feel compelled to engage.\\n\\nExample style (do NOT copy):\\nMost developers waste years chasing tools instead of mastering fundamentals. Skill beats stack every time. #DevLife #Programming\\n\\nNow generate the tweet for the given topic.\"\n        }\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "0519f932-75a2-435f-b6a1-6aaa8e1677f2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1JUL1s_84mf2vGKcb15fbyPFmrtZ5iQs9eRI9fiLDDDE",
          "mode": "list",
          "cachedResultName": "Medium Topics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JUL1s_84mf2vGKcb15fbyPFmrtZ5iQs9eRI9fiLDDDE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JUL1s_84mf2vGKcb15fbyPFmrtZ5iQs9eRI9fiLDDDE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "pending "
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "5123b8ab-0d56-4c30-b388-1ad0fad6f843",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "47FutKo5enL3RNrY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1JUL1s_84mf2vGKcb15fbyPFmrtZ5iQs9eRI9fiLDDDE",
          "mode": "list",
          "cachedResultName": "Medium Topics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JUL1s_84mf2vGKcb15fbyPFmrtZ5iQs9eRI9fiLDDDE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JUL1s_84mf2vGKcb15fbyPFmrtZ5iQs9eRI9fiLDDDE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('Get row(s) in sheet').item.json.Topic }}",
            "Status": "Done "
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Date\t",
              "displayName": "Date\t",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        0
      ],
      "id": "9daafe1e-c6a4-4c07-8eae-18c585e25aa1",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "47FutKo5enL3RNrY",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.candidates[0].content.parts[0].text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "007a8e5e-6145-49f0-9c79-2a8631a0f573",
      "name": "Create Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "JdznsHIcaqnmt1ZZ",
          "name": "X account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tweet": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0e933527-8004-43a5-94c9-d1725b1823c7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fc137c4ed13394cd6130976714253b6a2faa747d2d3a75ace3c5989c7a3f67d2"
  },
  "id": "Gl6LtAINJGoHIKdbYRzr3",
  "tags": []
}
